@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@100;500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');

/* font-family: 'Kalnia', serif; */

/* estilos header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header a{
    
    background-color: rgb(42, 3, 58)7%, 70% ;
    display: flex;
    flex-direction: column;
    
}
header nav{
    background-size: cover;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.35);
    padding: 40px 40px 40px 40px
    margin: 20px;
    size: 300px;  
    background-image: url(../img/crudo.remeras.jpg);  
    background-position: center;
    
}
header img{
    width: 200px;
    transition: opacity 0.3s ease;
    
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.item{
    font-size: 21px;
    border: none
    color: black
    padding: 0px 5px 0px 5px;
    margin: 40px;
    width: auto;
    
}

nav ul{
    width: auto;

}

header a{
    color: rgb(10, 4, 4)
}

/* main de index */

.mainimg{
    width: 100%;
    height: auto;
    padding-left: 0%;
    background-position: left;
    display: block;

}
.container{
    color: darkorange;
    transform: translate(-20%, -110%);
    position: absolute;
    top: 10%
    font-family: 'Kalnia', serif;
    overflow: auto;
    font-size: 400%;
    text-align: center;
    padding-left: 90%;
    
    
}

.container img {
  float: left;
  margin-right: 10px;
  
}

.container p {
  margin-top: 0;
  text-decoration: none;
}

/* estilos texto */

p{
    text-decoration: none;
}

/* estilos logo */

.logo{
    margin-left: 40%;
    width: 200px;
    border-radius: 50%
}

/* estilos main img */

.container{
    
    display: flex;
    align-items: center;
    padding-left: 41%;
    
  }
  
  .container img {
    margin-right: 100px;
  }
  
  .container p {
    margin-top: 0;
}

.mainimg{
    background-position: right;
    border-radius: 0%;
    margin-right: 90%;
    
}

/* estilos footer */

.iconos{
    display: inline-block;
    width: 50px;
    height: 50px;
}

.redes-sociales{
    display: inline-block;
    text-align: right
    font-size: 30px;
    width: 10px;
    height: 10px;
}

.derechos {
    text-shadow 4px 4px 2px rgba(0,0,0,0.35);
    padding-inline: 40%;
    background-color: rgb(96, 114, 116);
}
.aboutus{
    font-family: 'Kalnia', serif;
    background-color: rgb(178, 165, 155);
}

/* card estilos */

.card-img-top{
    width: 100%;
    padding-left: 1px;
}